# Godot 4+ specific ignores
.godot/
/android/
.idea
Export/

# Mac
.DS_STORE

# Rider
.idea/

# Visual Studio
.vs/
.vscode

# User-specific files
*.user
*.suo

# .NET build output
**/bin/
**/obj/

# 2dog generated web build
**/AppBundle/